body
{
    font-family: 'Roboto', Arial, Verdana, sans-serif;
    margin: 0;
}
a:link
{
    text-decoration: none;
    cursor: pointer;
}
footer a:link
{
    color: white;
}
header
{
    position: relative;
    padding: 1rem;
}
.fa-arrow-left
{
    color: black;
}
.back
{
    position: absolute;
    font-size: 1.5rem;
    left: 2rem;
    top: 1.75rem;
}
.titre
{
    font-family: 'Shrikhand';
    text-align: center;
    margin: 0;
}
.image
{
    max-width: 100%;
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}
section
{
    position: relative;
    margin: -4rem auto 0 auto;
    border-radius: 3rem 3rem 0 0;
    background-color: #f6f6f6;
    max-width: 80rem;
    padding: 0 2rem 3rem 2rem;
}
.titrecontent
{
    font-family: 'Shrikhand';
}
.headcontent
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.like
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.like>i
{
    position: absolute;
    right: 1rem;
    font-size: 2rem;
}
.flatbg
{
    opacity: 0;
    transition-duration: 500ms;
}
.flat
{
    transition-duration: 500ms;
}
.like:hover>.flat
{
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-duration: 500ms;
    transform: scale(1.20)
}
.like:hover>.flatbg
{
    display: block;
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.20);
    transition-duration: 500ms;
}
.gridcontent
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}
.column
{
    overflow: hidden;
    max-width: 100%;
    padding: 0.1rem;
}
.titlecontent
{
    font-weight: 400;
}
.bottomtitle
{
    border-bottom: 3px solid #99E2D0;
    width: 3.80rem;
    position: relative;
    bottom: 1rem;
}
.menu
{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
    box-shadow: 2px 2px 6px #cccccc;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    max-width: 100%;
    transition-duration: .5s;
}
.descript
{
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.descript>div>h4
{
    margin: 0;
    max-width: 100%;
    white-space: nowrap; /*pas de retour ligne*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.descript>div>p
{
    margin: 0;
    max-width: 100%;
    white-space: nowrap; /*pas de retour ligne*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.descript>:nth-child(1)
{
    max-width: 100%;
    white-space: nowrap; /*pas de retour ligne*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.prix
{
    display: flex;
    align-items: flex-end;
    margin-right: 0.5rem;
}

/*-------animations apparitions des menus-------*/

.entrees
{
    animation: apparition 1s;
}
.plats
{
    animation: apparition 2s;
}
.desserts
{
    animation: apparition 3s;
}
@keyframes apparition
{
    0%
    {
        opacity: 0;
        transform: scale(0);
    }
    50%
    {
        opacity: 1;
        transform: scale(105%);
    }
    100%
    {
        transform: scale(100%);
    }
}
/*--------animations slider des menus-------*/

.selectmenu
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    margin: -1rem -5rem -1rem -1rem;
    width: 4rem;
    transition-duration: .5s;
}
.menu:hover>.selectmenu
{
    transition-duration: .5s;
    margin: -1rem -1rem -1rem 0rem;
}
.menu:hover>.selectmenu>i
{
    transform: rotate(0deg);
    transition-duration: .7s;
}
.fa-check
{
    color: #99E2D0;
    border-radius: 100%;
    background-color: white;
    padding: 0.2rem;
    transform: rotate(360deg);
    transition-duration: .7s;
}
.command
{
    text-align: center;
    margin: 2rem 0 2rem 0;
    position: relative;
    top: 1rem;
}
.btncommand:hover
{
    transition-duration: 1s;
    box-shadow: 4px 4px 2px #909090;
    background-image: linear-gradient(0deg,rgba(255,121,218,.9),rgba(255,153,227,.9));
}
.btncommand
{
    color: white;
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    box-shadow: 3px 3px 4px #cccccc;
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
}
footer
{
    background-color: #353535;
    margin: auto;
    padding: 2rem;
}
.footlogo
{
    font-family: 'Shrikhand';
    color: white;
}
footer p
{
    margin: 0.5rem;
}
.contentlink
{
    display: flex;
    align-items: center;
}
.footlink
{
    color: white;
}
.footer_icon
{
    width: 1.5rem;
}
.footercontent
{
    max-width: 80rem;
    margin: auto;
}




/*------------RESPONSIVE-----------*/

@media all and (max-width: 1024px)
{
    section
    {
        padding: 0 1rem 3rem 1rem;
    }
    .gridcontent
    {
        grid-template-columns: 1fr;
    }
}